:root{
  --dark-purple: #0C0918;
  --light-purple: #1E1B2F;
  --white: #F1F4FE;
  --gradient: linear-gradient(to right, #8B7CFB , #7A89FC);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Main-section{
  background: var(--dark-purple);
  color: var(--white);

  display: flex;
  align-items: center;
  flex-direction: column;
}


.App{
  overflow: hidden;
}
